@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.cdnfonts.com/css/post-no-bills-jaffna");
@import url(https://db.onlinewebfonts.com/c/e243361f082e394bcb4f668fb566df49?family=Post+No+Bills+Jaffna+ExtraBold);

body {
  background-image: url("assets/cartoon-computer-games-night-forest-landscape-plant-green-natural-environment-wood-grass/41530.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

#label h1 {
  font-family: "Press Start 2P", system-ui;
  -webkit-text-stroke: 2px black;
}

#label label {
  font-family: "Post No Bills Jaffna", sans-serif;
  -webkit-text-stroke: 1px black;
}

#label input {
  /* background-color: rgb(255, 255, 255, 0.5); */
  background-color: rgb(75, 54, 32, 0.3);
}

#label input:focus {
  background-color: rgb(75, 54, 32, 0.5);
}

#label button {
  color: rgb(117, 120, 117, 0.9);
  font-family: "Press Start 2P", system-ui;
  /* background-color: rgb(255, 255, 255, 0.5); */
  -webkit-text-stroke: 1px black;
}

#label {
  background-image: linear-gradient(
    to bottom,
    rgb(93, 61, 31, 0.7),
    rgb(123, 92, 76, 0.7)
  );
}

#main #content {
  background-image: linear-gradient(
    to bottom,
    rgb(93, 61, 31, 0.7),
    rgb(123, 92, 76, 0.7)
  );
}

#main h1 {
  font-family: "Press Start 2P", system-ui;
  -webkit-text-stroke: 2px black;
}

#main p {
  font-family: "Post No Bills Jaffna", sans-serif;
}

#main button {
  font-family: "Press Start 2P", system-ui;
  /* background-color: rgb(255, 255, 255, 0.5); */
  -webkit-text-stroke: 1px black;
}

#board {
  background-image: linear-gradient(
    to bottom,
    rgb(93, 61, 31, 0.7),
    rgb(123, 92, 76, 0.7)
  );
}

.pt {
  color: #8b6237;
  font-family: "Post No Bills Jaffna ExtraBold";
  -webkit-text-stroke: 1px black;
}

#info {
  background-image: linear-gradient(
    to bottom,
    rgb(93, 61, 31, 0.7),
    rgb(123, 92, 76, 0.7)
  );
}

#info .n {
  color: #403414;
  font-family: "Post No Bills Jaffna ExtraBold";
  /* background-color: rgb(255, 255, 255, 0.5); */
  -webkit-text-stroke: 1px black;
}

#info .m {
  color: #6a7282;
  font-family: "Post No Bills Jaffna ExtraBold";
  /* background-color: rgb(255, 255, 255, 0.5); */
  -webkit-text-stroke: 1px black;
}

#rule {
  background-image: linear-gradient(
    to bottom,
    rgba(93, 61, 31, 0.9),
    rgb(123, 92, 76, 0.9)
  );
}

#blured {
  height: 100%;
  width: 100%;
  position: relative;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rule h1 {
  font-family: "Press Start 2P", system-ui;
  -webkit-text-stroke: 2px black;
}

#rule p {
  font-family: "Post No Bills Jaffna", sans-serif;
}

#card h1 {
  font-family: "Press Start 2P", system-ui;
  -webkit-text-stroke: 1px black;
}

#card button {
  font-family: "Post No Bills Jaffna ExtraBold";
  -webkit-text-stroke: 1px black;
}
