/* src/index.css */
@import "tailwindcss";

html,
body {
  font-family: "Roboto", "Noto Naskh Arabic", sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #0d542b;
  height: 100vh;
}
